extends layout

block content
  h1= title

  if currentUser
    p Welcome #{currentUser.full_name}!
    p Membership Status: #{currentUser.membership}
    if currentUser.membership !== 'premium'
      button
        a(href='/user/upgrade') Become a Premium Member
    if !currentUser.administrator
      button
        a(href='/user/admin') Become an Administrator
    button
      a(href='/message/new') New Message
    button
      a(href='/user/logout') Log Out
  else
    p Welcome to #{title}
    button 
      a(href='/user/signup') Sign Up
    button
      a(href='/user/login') Log In

  h2 Message Board
  div.messages
    each message in messages
      div.message
        h4 #{message.title} 
        p "#{message.text}"
        if currentUser && currentUser.membership === 'premium'
          p on #{message.timestamp_formatted}
          p by #{message.author.username}