extends layout

block content
  h1 #{title}
  
  if currentUser && currentUser.administrator
    p Do you really want to delete this Message?
    p Title: #[strong #{message.title}]
    p Text: #{message.text}
    p by #{message.author.username} on #{message.timestamp_formatted}
    
    form(method='POST' action='')
      div.form-group
        input#messageId.form-control(type='hidden',name='messageId', required='true', value=message._id )
      button.btn.btn-primary(type='submit') Delete

  else
    p You do not have admin permissions!
    button
      a(href='/') Go Back